label.login-form-label{
  font-size: 0.8rem;
  font-weight: bold;
}

input.login-form-text{
  width: 100%;
  border: 1px solid #ddd;
}

div.login-btn-wrap{
  text-align: right;
}

input.login-button{
  margin-top: 10px;
  font-size: 0.9rem;
}

div.link-to-users-new > a{
  font-size: 1rem;
}