<% if obj.errors.any? %>
  <div>
    <ul class="text-left font-weight-normal py-3 alert-warning mb-3">
      <% obj.errors.full_messages.each do |message| %>
        <li class=""><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>