<div class="side-wrapper rounded">
  <div class="sidebar-title">Menu</div>
  <div class="container pt-2">
      <ul class="text-left pl-0" style="list-style: none;">
        <li class="side-menu"><a href="#">ランキング</a></li>
        <li class="side-menu"><a href="#">ユーザ検索</a></li>
        <li class="side-menu"><a href="#">タイムライン</a></li>
        <li class="side-menu"><a href="">comming soon.....</a></li>
    </ul>
  </div>
</div>