<div class="side-wrapper rounded">
  <div class="sidebar-title">Menu</div>
  <div class="container pt-2">
      <ul class="text-left pl-0" style="list-style: none;">
        <li class="side-menu"><%= link_to "タイムライン", root_path %></li>
        <li class="side-menu"><%= link_to "ユーザー一覧", users_path %></li>
        <li class="side-menu"><a href="">comming soon.....</a></li>
        <% if current_user.present? %>
          <% if current_user.admin? %>
            <li class="side-menu"><%= link_to "管理者ダッシュボード", admin_dashboard_path %></li>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>