<div class="side-wrapper rounded">
  <div class="sidebar-title">Contact</div>
  <div class="container pt-2">
      <ul class="text-left pl-0" style="list-style: none;">
        <li class="side-menu"><a href="mailto:ng.plus6655@gmail.com">開発者</a></li>
    </ul>
  </div>
</div>