
<% if @notices_side.present? %>
<div class="side-wrapper rounded mt-4">
  <div class="sidebar-title">information</div>
  <div class="container pt-2">
      <ul class="text-left pl-0 text-info" style="list-style: none;">
        <% @notices_side.each do |notice| %>
         <li class="side-menu"><%= notice.content %>  (<%= notice.released_at.strftime("%Y/%m/%d") %>)</li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>


<div class="side-wrapper rounded mt-4">
  <div class="sidebar-title">Contact</div>
  <div class="container pt-2">
      <ul class="text-left pl-0" style="list-style: none;">
        <li class="side-menu"><%= link_to "コンタクトフォーム(バグ報告)", contacts_new_path %></li>
    </ul>
  </div>
</div>

