<div class="side-wrapper rounded">
  <div class="sidebar-title">Contact</div>
  <div class="container pt-2">
      <ul class="text-left pl-0" style="list-style: none;">
        <li class="side-menu"><a href="#">twitter</a></li>
        <li class="side-menu"><a href="#">discode</a></li>
    </ul>
  </div>
</div>