<div class="side-wrapper rounded">
  <div class="sidebar-title">Contact</div>
  <div class="container pt-2">
      <ul class="text-left pl-0" style="list-style: none;">
        <li class="side-menu"><%= link_to "コンタクトフォーム(バグ報告)", contacts_new_path %></li>
    </ul>
  </div>
</div>